<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Dashboard</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://unpkg.com/feather-icons"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
        crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark nav-custom">
            <div class="container-fluid">
              <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                  <li class="nav-item nav-li-custom">
                    <a class="nav-link active" href="/">Group_11_002_iCAREAPP</a>
                </li>
                  <li class="nav-item nav-li-custom">
                    <a class="nav-link active" aria-current="page" href="/iCareBoard">iCare Board</a>
                  </li>
                  <li class="nav-item nav-li-custom">
                    <a class="nav-link active" href="/addPatient">Add Patient</a>
                  </li>
                  <li class="nav-item nav-li-custom">
                      <a class="nav-link active" href="/myBoard">My Board</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>

          <h1>All Patients of your location</h1>
        <div class="main">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Address</th>
                <th scope="col">DateOfBirth</th>
                <th scope="col">Height</th>
                <th scope="col">Weight</th>
                <th scope="col">BloodGroup</th>
                <th scope="col">BedID</th>
                <th scope="col">TreatmentArea</th>
                <th scope="col">Assign</th>
              </tr>
            </thead>
            <tbody>
                <% data.forEach(function(data){ %>
                    <tr>
                      <td><%= data.Name%></td>
                      <td><%= data.address%></td>
                      <td><%= data.dateOfBirth%></td>
                      <td><%= data.height%></td>
                      <td><%= data.weight%></td>
                      <td><%= data.bloodGroup%></td>
                      <td><%= data.bedID%></td>
                      <td><%= data.treatmentArea%></td>
                      <td><a href="/assignPatient/<%= data.ID %>"><i class="fa fa-plus i-custom"></i></a></td>
                    </tr>
                    <% }) %>
            </tbody>
          </table>
        </div>

        <script>
            feather.replace()
          </script>
    </body>
</html>